<!DOCTYPE html>
<html lang="ko">
  <head>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% load static %}

    <title>{% block title %}BASE TITLE{% endblock  %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

     <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center justify-content-lg-between" style="max-width: 1500px;">
        <h1 class="logo me-auto me-lg-0"><a href="/appfordog/">어디가시개&nbsp<span>데려가시개</span></a></h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto result_a"><input type="submit" name="result_r1" value="{{  results.result_r1  }}" style="display: none;">{{  results.result_r1  }}</a></li>
            <li><a class="nav-link scrollto result_a"><input type="submit" name="result_m1" value="{{  results.result_m1  }}" style="display: none;">{{  results.result_m1  }}</a></li>
            <li><a class="nav-link scrollto result_a"><input type="submit" name="result_r2" value="{{  results.result_r2  }}" style="display: none;">{{  results.result_r2  }}</a></li>
            <li><a class="nav-link scrollto result_a"><input type="submit" name="result_m2" value="{{  results.result_m2  }}" style="display: none;">{{  results.result_m2  }}</a></li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li><a class="nav-link scrollto" href="#cta">QnA</a></li>
            <li><a class="nav-link scrollto" href="#testimonials">Comments</a></li>
            <li><a class="nav-link scrollto" href="#about">Tools</a></li>
            <li><a class="nav-link scrollto" href="#footer">Contact us</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <div>
          {% if not user.is_authenticated %}
          <a href="/appfordog/account/login/" class="get-started-btn scrollto">Log In</a>
          <a href="/appfordog/account/register/" class="get-started-btn scrollto">Sign Up</a>
          {% else %}
          <a href="/appfordog/account/logout/" class="get-started-btn scrollto>">Log Out</a>
          <a href="/appfordog/account/register/" class="get-started-btn scrollto" style="display: none;"></a>
          {% endif %}
        </div>
      </div>
    </header>
    <!-- End Header -->
    {% block content1 %}
    {% endblock %}

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>일등하개 점수 좀 주개</h2>
          <p>Our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <span style="font-weight: 300; color: #4e4e4e;" >팀 장</span>
                <h4>이진태</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'img/team/team-2.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <span style="font-weight: 300; color: #4e4e4e;" >팀 원</span>
                <h4>손지호</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <span style="font-weight: 300; color: #4e4e4e;" >팀 원</span>
                <h4>김주희</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section><!-- End Team Section -->

    <!-- ======= Cta Section ======= -->
 <section  id="cta" class="cta">
   <div class="container" data-aos="zoom-in">

     <div class="text-center">
       <h3>QnA</h3>
       <br><br>
       <p style="color: #fff;">사이트 서비스 향상을 위한 제안<br>공유해주고 싶은 좋은 장소 제안<br>사이트 이용 중 생긴 불편 사항<br>사이트 이용 중 생긴 궁금증</p>
       <br>
       <a class="cta-btn" href="/appfordog/qna/">모두 모두 말해주시개!</a>
     </div>

   </div>
 </section>
    <!--End Cta Section-->

    <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-1.bmp' %}" class="testimonial-img" alt="">
              <h3>이진태</h3>
              <h4>팀 장</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  그 동안 공부를 많이 따라가지 못했는데, 함께 하시는 분들을 보며 더 열심히 하게 되고 공부하게 되었습니다. 감사합니다.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-2.jpeg' %}" class="testimonial-img" alt="">
              <h3>손지호</h3>
              <h4>팀 원</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                처음 해보는 실습이라 많이 두려웠는데 열정 넘치는 팀원분들 덕분에 포기하지 않을 수 있었습니다. 감사합니다!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
              <h3>김주희</h3>
              <h4>팀 원</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                수업 시간에 배운 것들이 실제로 적용했을 때 제가 생각 대로 구현되면 정말 큰 짜릿했습니다! 언제나 열심히 묵묵히 자신의 역할에 최선을 다해준 우리 팀 덕분에 정말 즐겁게 코딩했습니다! 성취감 최고!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'img/dalgom.jpeg'  %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100" style="padding-left: 90px;, padding-right: 60px; margin-top: 40px;">
          <h3 style="color : #000000; font-size: 28pt;">프로젝트 수행도구</h3><br><br>
          <p class="fst-italic" style="color : #000000; font-size: 16pt;">
            Back-end<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;;"></i> Django<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> Python<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> AJAX<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> SQLite<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> Google Maps Platform<br>
          </p><br>
          <p class="fst-italic" style="color : #000000; font-size: 16pt;">
            Front-end<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> HTML5<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> CSS3<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> JavaScript<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> Bootstrap<br>
          </p><br>
          <p class="fst-italic" style="color : #000000; font-size: 16pt;">
            Collaboration tool<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> Zoom<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> GitHub<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> Google Drive<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> KaKaotalk<br>
          </p>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="{% static 'img/clients/ajax.png' %}" class="img-fluid" alt=""  onclick="http://en.wikipedia.org/wiki/Ajax_(programming)"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/bootstrap.png' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/css.jpg' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/CSS"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/django.png' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/Django_(web_framework)"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/github.png' %}" class="img-fluid" alt="" onclick="https://github.com/"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/go_ma_plat.png' %}" class="img-fluid" alt="" onclick="https://mapsplatform.google.com/"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/go_map.jpg' %}" class="img-fluid" alt="" onclick="https://www.google.com/maps"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/go_drive.png' %}" class="img-fluid" alt="" onclick="https://www.google.com/intl/ko_KR/drive/"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/html.jpg' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/HTML5"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/js.jpg' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/JavaScript"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/python.png' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/Python_(programming_language)"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/sql.png' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/SQLite"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/zoom.png' %}" class="img-fluid" alt="" onclick="https://zoom.us/"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>
  <!-- End Clients Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="padding: 40px;">
      <div class="container">
        <div class="row" style="text-align: left;">

          <div class="footer-info">
            <h3>어디가시개<span>&nbsp 데려가시개</span></h3>
            <p>
              일등하개 점수 좀 주시개 <br><br>
              <strong>팀원</strong>: 이진태, 손지호, 김주희<br>
            </p>
          </div>
          <div class="footer-newsletter">
            <h3>Contact Us<span>&nbsp 연락주시개</span></h3>
            <div class="info">

              <div class="address">
                <h4><i class="bi bi-geo-alt" style="color: #c6e1ff;"></i>&nbsp Location: 서울특별시 강남구 삼성로 534</h4>
              </div>
              <div class="email">
                <h4><i class="bi bi-envelope" style="color: #c6e1ff;"></i>&nbsp Email: appfordog@gmail.com</h4>
              </div>
              <div class="phone">
                <h4><i class="bi bi-phone" style="color: #c6e1ff;"></i>&nbsp Call: +82 10-1234-9876</h4>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Copyright <strong><span>일등하개 점수 좀 주시개</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
    <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <form id="dataform" method="get" action="" style="display: none;">
      <input type="text" name="result_r1" value="">
      <input type="text" name="category_id" value="">
    </form>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>