{% extends 'sort_base.html' %}

{% load static %}

{% block content2 %}
    <!-- ======= Features Section ======= -->
    <section id="features" class="features" style="padding-top: 50px;">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="image col-lg-6" style="background-image: url(/static/img/dog4.jpg);" data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
              <form id="dataform" method="get" action="/appfordog/sort_r2/#radiosort2">
                  <input type="text"  name="result_r1" value="{{  results.result_r1  }}"  style="display: none;">
                  <input type="text" name="category_id" value="{{ category_id }}" style="display: none;">
              {% block content4 %}
              {% endblock %}
              </form>
            <br><br>
            <div id="multisort1">
                <div style="text-align: center;">
                     <a class="features-btn" href="/appfordog/sort_r1/">이전으로 가시개</a>
                     <a class="features-btn next" href="#"> 다음으로 가시개</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->

    <script type="text/javascript">
      var callBack = function(event){
        var checkedInputs = $('[name=result_m1]:checked');
        $(checkedInputs).each(function(i, input){
            var checkedInput = $(input);
            var idInput = checkedInput.closest('h4').find('input:eq(0)');
            idInput.trigger('click');
        });
        var form = $('#dataform');
        form.submit();
      };

      $('#multisort1 a.next').on('click', callBack);
   </script>
{% endblock %}