{% extends 'login_base.html' %}

{% load static %}

{% block content7 %}
    {% if msg  %}
        <div class="row mt-5" xmlns="http://www.w3.org/1999/html">
            <div class="col-12 text-center">
                <h1>{{msg}}</h1>
            </div>
        </div>
    {% else %}
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
          <div class="container">
            <div class="d-flex justify-content-between align-items-center">
              <h2>Log In</h2>
              <ol>
                <li><a href="/appfordog/">Home</a></li>
                <li>Log In</li>
              </ol>
            </div>
          </div>
        </section><!-- End Breadcrumbs -->
        <section class="button_log">
          <div class="container" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                <div class="row mt-5">
                <div class="col-12">
                    <form method="POST" action="{% url 'account:login'%}">
                      {% csrf_token %}
                        <input type="hidden" name="next" value="{{  next  }}">
                        {% include "form_errors.html" %}
                      <div class="form-group">
                          <label for="username">ID</label>
                          <input type="text" class="form-control"  name="useremail" placeholder="사용자 아이디" >
                      </div><br>
                      <div class="form-group">
                         <label for="password">Password</label>
                         <input type="password" class="form-control" name="password" placeholder="비밀번호" >
                      </div><br>
                      <button type="submit" class="btn btn-primary" style="float: right; border: 0; background: #c6e1ff; color:#000000;">Login</button>
                    </form>
                </div>
              </div>
          </div>
        </section>
        {% endif %}
{% endblock %}
