<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% load static %}
  <title>로그인</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/appfordog/">어디가시개<span>데려가시개</span></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="#feartures">어디 놀러 가개?</a></li>
          <li></li>
          <li></li>
          <li></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#cta">QnA</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#login" class="get-started-btn scrollto">Log In</a>
      <a href="#signin" class="get-started-btn scrollto">Sign In</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="/dogapp/mainpage.html">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'img/portfolio/portfolio-1.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'img/portfolio/portfolio-2.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'img/portfolio/portfolio-3.jpg' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->



<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>일등하개 점수 좀 주개</h2>
      <p>Our Team</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <span style="font-weight: 300; color: #4e4e4e;" >팀 장</span>
            <h4>이진태</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <span style="font-weight: 300; color: #4e4e4e;" >팀 원</span>
            <h4>손지호</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <span style="font-weight: 300; color: #4e4e4e;" >팀 원</span>
            <h4>김주희</h4>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

    <!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="zoom-in">

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
            <h3>이진태</h3>
            <h4>팀 장</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              진태님 소감
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
            <h3>손지호</h3>
            <h4>팀 원</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              지호님 소감
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
            <h3>김주희</h3>
            <h4>팀 원</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              소감소감소감
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact Us</h2>
      <p>일등하개 점수 좀 주시개</p>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>서울특별시 강남구 삼성로 534</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>appfordog@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+82 10-1234-9876</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->

</main><!-- End #main -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'img/dalgom.jpeg'  %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3 style="color : #000000;">제목을 입력해주세요</h3><br><br>
          <p class="fst-italic" style="color : #000000;">
            그룹핑 이름<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google maps platform<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google drive<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google maps<br>
          </p><br>
          <p class="fst-italic" style="color : #000000;">
            그룹핑 이름<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google maps platform<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google drive<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google maps<br>
          </p><br>
          <p class="fst-italic" style="color : #000000;">
            그룹핑 이름<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google maps platform<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google drive<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google maps<br>
          </p><br>
          <p class="fst-italic" style="color : #000000;">
            그룹핑 이름<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google maps platform<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google drive<br>
            <i class="ri-check-double-line" style="color: #c6e1ff; font-style: bold;"></i> google maps<br>
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="{% static 'img/clients/ajax.png' %}" class="img-fluid" alt=""  onclick="http://en.wikipedia.org/wiki/Ajax_(programming)"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/bootstrap.png' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/css.jpg' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/CSS"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/django.png' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/Django_(web_framework)"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/github.png' %}" class="img-fluid" alt="" onclick="https://github.com/"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/go_ma_plat.png' %}" class="img-fluid" alt="" onclick="https://mapsplatform.google.com/"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/go_map.jpg' %}" class="img-fluid" alt="" onclick="https://www.google.com/maps"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/go_drive.png' %}" class="img-fluid" alt="" onclick="https://www.google.com/intl/ko_KR/drive/"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/html.jpg' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/HTML5"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/js.jpg' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/JavaScript"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/python.png' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/Python_(programming_language)"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/sql.png' %}" class="img-fluid" alt="" onclick="https://en.wikipedia.org/wiki/SQLite"></div>
          <div class="swiper-slide"><img src="{% static 'img/clients/zoom.png' %}" class="img-fluid" alt="" onclick="https://zoom.us/"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Clients Section -->


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top" style="padding-top: 40px; padding-bottom: 20px;">
    <div class="container">
      <div class="row" style="text-align: center; padding-bottom: 0px; margin-bottom: 0px; height: 130px;">
        <div class="footer-info">
          <h3>어디가시개<span>데려가시개</span></h3>
          <p>
            일등하개 점수 좀 주시개 <br><br>
            <strong>팀원</strong> 이진태, 손지호, 김주희<br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>일등하개 점수 좀 주시개</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer>
<!-- End Footer -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.j' %}s"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>