{% extends 'login_base.html' %}

{% load static %}

{% block content7 %}
    <section class="inner-page">
      <div class="container">
        <div class="row mt-5">
             <div class="col-12 text-center">
                 {% if not logineduser %}
                    <h3>로그인해야 이 페이지를 볼 수 있으시개!! 로그인하시개</h3>
                 {% else %}
                    <h3>이제 이 페이지를 볼 수 있으시개!! {{ logineduser }}님!!</h3>
                {% endif %}
            </div>
        </div>
      </div>
    </section>
{% endblock %}