{% extends 'qna_base.html' %}

{% load static %}

{% block content3 %}
    <section class="inner-page">
      <div class="container">
          <h5 class="my-3 border-bottom pb-2">
              질문하시개
          </h5>
          <form method="post" class="post-form my-3">
              {% csrf_token %}
              {% if form.errors %}
                  <div class="alert alert-danger" role="alert">
                  {% for field in form %}
                      {% if field.errors %}
                      <strong>{{  field.label  }}</strong>
                      {{ field.errors  }}
                      {% endif %}
                  {% endfor %}
                  </div>
              {% endif %}
              <div class="form-group">
                  <label for="subject">제 목</label>
                  <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.value|default_if_none:'' }}" style="width: 100%">
              </div>
              <div class="form-group">
                  <label for="content"> 내 용</label>
                  <textarea class="form-control" name="content" id="content" rows="10" style="width: 100%">
                      {{  form.subject.value|default_if_none:''  }}
                  </textarea><br>
              </div>
              <button type="submit" class="btn btn-primary" style="float: right; border: 0; background: #c6e1ff; color:#000000;">저장하시개</button>
              <input type="button" value="이전으로 가시개" onClick="history.go(-1)" class="btn btn-primary" style="margin-right: 10px; float: right; border: 0; background: #c6e1ff; color:#000000;">
          </form>
      </div>
    </section>
{% endblock %}