{% extends 'sort_m1_base.html' %}

{% load static %}

{% block content4 %}
  <div class="multi">
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;" name="result_m1" value="베이커리" data-id="13">베이커리</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="카페" data-id="16">카페</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="아이스크림" data-id="15">아이스크림</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="브런치" data-id="14">브런치</h4>
      </div>
  </div>
{% endblock %}