{% extends 'sort_base.html' %}

{% load static %}

{% block content2 %}
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
      <div class="row no-gutters">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
        <div data-aos="fade-left" data-aos-delay="100">
          <div class="content d-flex flex-column justify-content-center">
            <h3>얼른 출발 하시개!</h3>
             <div id="map">
                  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy81EbO46BRSnX1DOgg_F84bhsdbku2z4" ></script>
                  <script>
                        var dom = document.getElementById("map");
                        if(dom) {
                            var latlng = { lat: 37.5096357, lng: 127.0555218}
                            var map = new google.maps.Map(dom, {
                              center: latlng,
                              zoom: 16
                            });
                            var marker = new google.maps.Marker({position: latlng, map: map});
                            var contentString = "<h3>프로젝트4팀의 작업이 진행중이에요ㅎㅎㅎ<img src='/static/images/clover.png' width='20'></h3>";
                            var infowindow = new google.maps.InfoWindow({
                                content: contentString
                            });
                            marker.addListener('click', function() {
                                infowindow.open(map, marker);
                            });
                        }
                  </script>
             </div>
          </div>
          <div class="column" style="column-width: 400px;">
             <div id="image">
                  <img src="{% static 'img/car_dog1.jpg' %}" style="height: 100%;" alt="">
             </div>
             <div id="count-box">
                 <div style="padding: 15px 0 0 0; margin: 0 0 0 50px; font-family: 'Raleway', sans-serif; font-size: 36px; color: #3b3b3b; width: 760px;">
                     총 검색 결과:
                     <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2" class="purecounter"   style="font-size: 36px;  line-height: 30px;  font-weight: 700;  color: #c6e1ff;  margin-left: 20px; ">
                     </span>
                 </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Counts Section -->
{% endblock %}