{% extends 'sort_m2_base.html' %}

{% load static %}

{% block content5 %}
<div class="col-lg-4 col-md-6 portfolio-item filter-web">
  <div class="portfolio-info">
      <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="width: 1290px;">
          <ul id="portfolio-filters">
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="고양시" data-id="21">고양시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="수원시" data-id="24">수원시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="용인시" data-id="2">용인시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="과천시" data-id="61">과천시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="광명시" data-id="50">광명시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="광주시" data-id="51">광주시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="구리시" data-id="55">구리시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="군포시" data-id="60">군포시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="김포시" data-id="37">김포시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="부천시" data-id="38">부천시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="성남시" data-id="23">성남시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="시흥시" data-id="39">시흥시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="안산시" data-id="4">안산시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="안성시" data-id="52">안성시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="안양시" data-id="56">안양시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="양주시" data-id="5">양주시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="평택시" data-id="57">평택시</li>
              <li><input type="checkbox" class="city_id" style= "width: 23px; height: 23px; margin: 12px;" name="result_m1" value="포천시" data-id="9">포천시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="화성시" data-id="14">화성시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="가평군" data-id="1">가평군</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="동두천시" data-id="3">동두천시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="하남시" data-id="40">하남시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="가평군" data-id="1">가평군</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="양평군" data-id="6">양평군</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="연천군" data-id="7">연천군</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="남양주시" data-id="12">남양주시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="여주시" data-id="13">여주시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="오산시" data-id="58">오산시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="의왕시" data-id="53">의왕시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="이천시" data-id="59">이천시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="파주시" data-id="8">파주시</li>
              <li><input type="checkbox" class="city_id" style="width: 23px; height: 23px; margin: 12px;" name="result_m1" value="의정부시" data-id="25">의정부시</li>
         </ul>
      </div>
  </div>
</div>
{% endblock %}