{% extends 'sort_m2_base.html' %}

{% load static %}

{% block content5 %}
<div class="col-lg-4 col-md-6 portfolio-item filter-web">
  <div class="portfolio-info">
      <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="width: 1290px;">
          <ul id="portfolio-filters">
              <li><input type="checkbox"  style="display:none;" name="city_id" value="21" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="고양시">고양시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="24" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="수원시">수원시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="2" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="용인시">용인시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="61" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="과천시">과천시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="50" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="광명시">광명시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="51" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="광주시">광주시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="55" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="구리시">구리시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="60" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="군포시">군포시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="37" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="김포시">김포시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="38" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="부천시">부천시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="23" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="성남시">성남시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="39" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="시흥시">시흥시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="4" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="안산시">안산시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="52" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="안성시">안성시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="56" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="안양시">안양시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="5" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="양주시">양주시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="57" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="평택시">평택시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="9" ><input type="checkbox" style= "width: 23px; height: 23px; margin: 12px;" name="result_m2" value="포천시">포천시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="14" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="화성시">화성시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="1" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="가평군">가평군</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="3" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="동두천시">동두천시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="40" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="하남시">하남시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="6" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="양평군">양평군</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="7" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="연천군">연천군</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="12" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="남양주시">남양주시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="13" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="여주시">여주시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="58" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="오산시">오산시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="53" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="의왕시">의왕시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="59" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="이천시">이천시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="8" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="파주시">파주시</li>
              <li><input type="checkbox"  style="display:none;" name="city_id" value="25" ><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="의정부시">의정부시</li>
         </ul>
      </div>
  </div>
</div>
{% endblock %}