{% extends 'sort_base.html' %}

{% load static %}

{% block content2 %}
<!-- ======= Services Section ======= -->
  <section id="radiosort2" class="radiosort2">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>특별(광역)시/도</h2>
        <p>어디로 가시개?</p>
      </div>
      <div class="column" style="column-count: 3;">
        <div class="aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <a href='#' data-href="/appfordog/sort_m2_1/#portfolio-info">서울특별시</a></div>
        </div>
        <div class="aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <a href='#' data-href="/appfordog/sort_m2_2/#portfolio-info">인천광역시</a></div>
        </div>
        <div class="aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <a href='#' data-href="/appfordog/sort_m2_3/#portfolio-info">경기도</a></div>
        </div>
      </div>
      </div>
  </section><!-- End Services Section -->

  <script type="text/javascript">
      var callBack = function(event){
        var clickTarget = $(event.currentTarget);
        var aTag = clickTarget.find('a')
        var text = aTag.text();
        var url = aTag.attr('data-href');
        var form = $('#dataform')
        form.attr('action', url);

        $('[name=result_r2]').val(text);
        form.submit();
      };
      $('#radiosort2 div.icon-box').on('click', callBack);
{% endblock %}