{% extends 'sort_base.html' %}

{% load static %}

{% block content1 %}
  <section id="radiosort1" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Q. 어디 놀러 가개<span>?</span></h1>
          <h2>하나만 골라 주개</h2>
        </div>
      </div>
      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
         <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
           <div class="icon-box">
             <h3><a href='#'  data-href="/appfordog/sort_m1_1/#features" data-id="2">반려 동반 가능 식당</a></h3>
           </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3><a href='#'  data-href="/appfordog/sort_m1_2/#features" data-id="4">반려 동반 가능 카페</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3><a href='#'  data-href="/appfordog/sort_m1_3/#features" data-id="5">애견 카페</a></h3>
         </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3><a href='#'  data-href="/appfordog/sort_m1_4/#features" data-id="1">반려 동반 가능 숙소</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3><a href='#'  data-href="/appfordog/sort_m1_5/#features" data-id="3">반려 동반 가능 여행지</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3 ><a href='#'  data-href="/appfordog/sort_end_hu/" data-id="6">반려 동반 가능 휴게소</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
      var callBack = function(event){
        var clickTarget = $(event.currentTarget);
        var aTag = clickTarget.find('a')
        var text = aTag.text();
        var url = aTag.attr('data-href');
        var form = $('#dataform')
        form.attr('action', url);
        var category_id = aTag.attr('data-id');

        $('[name=result_r1]').val(text);
        $('[name=category_id]').val(category_id);
        form.submit();

      };
      $('#radiosort1 div.icon-box').on('click', callBack);
  </script>
{% endblock %}