{% extends 'sort_base.html' %}

{% load static %}

{% block content1 %}

  <section id="radiosort1" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Q. 어디 놀러 가개<span>?</span></h1>
          <h2>하나만 골라 주개</h2>
        </div>
      </div>
      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
         <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
           <div class="icon-box">
             <h3><a href="/appfordog/sort_m1_1/#features"><img src="{% static 'img/one_1.png' %}" style="width: 20px; margin-right: 15px;">반려 동반 가능 식당</a></h3>
           </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3><a href="/appfordog/sort_m1_2/#features"><img src="{% static 'img/one_1.png' %}" style="width: 20px; margin-right: 15px;">반려 동반 가능 카페</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3><a href="/appfordog/sort_m1_3/#features"><img src="{% static 'img/one_1.png' %}" style="width: 20px; margin-right: 15px;">애견 카페</a></h3>
         </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3><a href="/appfordog/sort_m1_4/#features"><img src="{% static 'img/one_1.png' %}" style="width: 20px; margin-right: 15px;">반려 동반 가능 숙소</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3><a href="/appfordog/sort_m1_5/#features"><img src="{% static 'img/one_1.png' %}" style="width: 20px; margin-right: 15px;">반려 동반 가능 여행지</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-5" style="width: 260px; height: 90px; background-size: cover; background-color: #f1f1f1; margin: 25px; padding-top: 20px;">
          <div class="icon-box">
            <h3 ><a href="/appfordog/sort_hugaeso/"><img src="{% static 'img/one_1.png' %}" style="width: 20px; margin-right: 15px;">반려 동반 가능 휴게소</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <form method="GET" style="display: none;">
      <input type="text" value="result_r1">
  </form>
  <script type = "text/javascript">
      var callBack = function(event){
        var clickTarget = $(event.currentTarget);
        var text = clickTarget.text();
        $('[value=result_r1]').val(text);
        $('form').submit();
        console.log($);
      };
      $('#radiosort1 div').on('click', callBack);
  </script>
{% endblock %}
