{% extends 'sort_base.html' %}

{% load static %}

{% block content2 %}
<!-- ======= Services Section ======= -->
  <section id="radiosort2" class="radiosort2">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>특별(광역)시/도</h2>
        <p>어디로 가시개?</p>
      </div>
      <div class="column">
        <div class="aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box"><a href="/appfordog/sort_m2_1/" data-href="/appfordog/sort_m2_1">서울특별시</a></div>
        </div>
        <div class="aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box"><a href="appfordog/sort_m2_2" data-href="/appfordog/sort_m2_2/">인천광역시</a></div>
        </div>
        <div class="aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box"><a href="appfordog/sort_m2_3" data-href="appfordog/sort_m2_3/">경기도</a></div>
        </div>
      </div>
      </div>
  </section><!-- End Services Section -->

  <form method="GET" style="display: none;">
      <input type="text" name="result_r2"/>
  </form>
  <script type = "text/javascript">
      var callBack = function(event){
        var clickTarget = $(event.currentTarget);
        var text = clickTarget.text();
        $('[name=result_r2]').val(text);
        $('form').submit();
      };
      $('#radiosort div).on('click', callBack);
  </script>

{% endblock %}