{% extends 'sort_base.html' %}

{% load static %}

{% block content2 %}
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5e9a773155b6034a6704606bcfc17dcf"></script>
    <form id="dataform" method="get">
          <input type="text"  name="result_r1" value="{{  results.result_r1  }}"  style="display: none;">
          <input type="text"  name="result_m1" value="{{  results.result_m1  }}"  style="display: none;">
          <input type="text"  name="result_r2" value="{{  results.result_r2  }}"  style="display: none;">
          <input type="text" name="category_id" value="{{ category_id }}" style="display: none;">
          <input type="text" name="type_id" value="{{ type_id }}" style="display: none;">
          <input type="text" name="state_id" value="{{ state_id }}" style="display: none;">
          <input type="text" name="city_id" value="{{ city_id }}" style="display: none;">
</form>
  <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
          <div class="row no-gutters">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
             <div data-aos="fade-left" data-aos-delay="100">
              <div class="content d-flex flex-column justify-content-center">
                <h3>얼른 출발 하시개!</h3>
                    <div id="map" style="width:100%; height:600px;"></div>
                    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6075751d111977dfe10aaa2dec967efd&libraries=services,clusterer"></script>
                    <script>
                        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                            mapOption = {
                                center: new kakao.maps.LatLng(37.56546, 126.97689), // 지도의 중심좌표
                                level: 3, // 지도의 확대 레벨

                        // 지도를 생성한다
                        var map = new kakao.maps.Map(mapContainer, mapOption);

                        // 지도에 확대 축소 컨트롤을 생성한다
                        var zoomControl = new kakao.maps.ZoomControl();

                        // 지도의 우측에 확대 축소 컨트롤을 추가한다
                        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

                    </script>
                 </div>
              </div>
              <div class="column" style="column-width: 400px;">
                 <div id="image">
                      <img src="{% static 'img/car_dog1.jpg' %}" style="height: 100%;" alt="">
                 </div>
                 <div id="count-box">
                     <div style="padding: 15px 0 0 0; margin: 0 0 0 50px; font-family: 'Raleway', sans-serif; font-size: 36px; color: #3b3b3b; width: 760px;">
                         총 검색 결과:<span data-purecounter-start="0" data-purecounter-end="{{ DMap_1_length }}" data-purecounter-duration="2" class="purecounter"   style="font-size: 36px;  line-height: 30px;  font-weight: 700;  color: #c6e1ff;  margin-left: 20px; "></span>
                         <ol>
                         {% for data in DMap_1 %}
                            <li><h4 style="font-size:20px; font-weight:800">{{ data.name }}</h4> <h6 style="font-size:13px">{{ data.address }}</h6></li>
                         {% endfor %}
                         </ol>
                     </div>
                 </div>
              </div>
          </div>
        </div>
    </section><!-- End Counts Section -->
{% endblock %}