{% extends 'sort_m1_base.html' %}

{% load static %}

{% block content4 %}
  <div class="multi">
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="13" ><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;" name="result_m1" value="베이커리" >베이커리</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="16" ><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="카페" >카페</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="15" ><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="아이스크림" >아이스크림</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="14" ><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="브런치">브런치</h4>
      </div>
  </div>
{% endblock %}