{% extends 'sort_m2_base.html' %}

{% load static %}

{% block content5 %}
  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
    <div class="portfolio-info">
        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="width: 1290px;">
            <ul id="portfolio-filters">
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="중구">중구</li>
              <li><input type="checkbox" style="width: 25px; height: 23px; margin: 12px;" value="종로구">종로구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="용산구">용산구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="성동구">성동구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="광진구">광진구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="동대문구">동대문구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="중랑구">중랑구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="성북구">성북구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="노원구">노원구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="은평구">은평구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="서대문구">서대문구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="마포구">마포구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="양천구">양천구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="강서구">강서구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="구로구">구로구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="금천구">금천구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="영등포구">영등포구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="동작구">동작구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="관악구">관악구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="서초구">서초구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="강남구">강남구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="송파구">송파구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="강동구">강동구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="강북구">강북구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" value="도봉구">도봉구</li>
            </ul>
        </div>
    </div>
  </div>
{% endblock %}