{% extends 'sort_m1_base.html' %}

{% load static %}

{% block content4 %}
  <div class="multi">
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  class="type_id" style="width:30px; height:30px; margin-right: 60px;" name="result_m1" value="실내" data-id="17">실내만</h4>
      </div>
      <div class="icon-box mt-5"data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox" class="type_id" style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="실외" data-id="18">실내/실외</h4>
      </div>
  </div>
{% endblock %}