{% extends 'sort_m1_base.html' %}

{% load static %}

{% block content4 %}
    <div class="multi">
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  class='type_id' style="width:30px; height:30px; margin-right: 60px;" name="result_m1" value="한식" data-id="28">한식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox" class='type_id' style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="일식/돈가스" data-id="24">일식/돈가스</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox" class='type_id' style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="중식" data-id="26">중식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  class='type_id' style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="양식" data-id="22">양식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox" class="'type_id' " style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="남미음식" data-id="19">남미 음식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  class='type_id' style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="동남아음식" data-id="20">동남아 음식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  class='type_id' style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="샐러드/샌드위치" data-id="21">샐러드/샌드위치</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  class='type_id' style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="인도/중동음식" data-id="23">인도/중동 음식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  class='type_id' style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="피자/햄버거/치킨" data-id="27">피자/햄버거/치킨</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  class='type_id' style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="주점/바/펍" data-id="25">주점/바/펍</h4>
        </div>
    </div>

{% endblock %}