{% extends 'sort_m1_base.html' %}

{% load static %}

{% block content4 %}
  <div class="multi">
      <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;" name="베이커리" value="베이커리">베이커리</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="카페" value="카페">카페</h4>
      </div>
      <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="아이스크림" value="아이스크림">아이스크림</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="브런치" value="브런치">브런치</h4>
      </div>
  </div>
{% endblock %}