{% extends 'sort_base.html' %}
{% load static %}
{% block content %}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/appfordog/">어디가시개<span>데려가시개</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="sort_base.html" class="logo me-auto me-lg-0"><img src="img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/appfordog/"><span>반려 동반 가능 식당</span></a></li> >>
          <li><a class="nav-link scrollto" href="#feartures">무슨 음식 먹고 싶개?</a></li>
          <li></li>
          <li></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#cta">QnA</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#login" class="get-started-btn scrollto">Log In</a>
      <a href="#signin" class="get-started-btn scrollto">Sign In</a>
    </div>
  </header><!-- End Header -->


<section id="radiosort1" class="d-flex align-items-center justify-content-center">
<div class="container" data-aos="fade-up">

  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
    <div class="col-xl-6 col-lg-8">
      <h1>반려 동반 가능 식당<span>!</span></h1>
      <h2>스크롤을 내려 주시개</h2>
    </div>
  </div>
</div>
</section>


<main id="main">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features" style="padding-top: 50px;">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style="background-image: url(/static/img/dog4.jpg);" data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="multi">
                <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;" name="한식" value="한식">한식</h4>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="일식/돈가스" value="일식/돈가스">일식/돈가스</h4>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="중식" value="중식">중식</h4>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="양식" value="양식">양식</h4>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="남미음식" value="남미음식">남미 음식</h4>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="동남아음식" value="동남아음식">동남아 음식</h4>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="샐러드/샌드위치" value="샐러드/샌드위치">샐러드/샌드위치</h4>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="인도/중동음식" value="인도/중동음식">인도/중동 음식</h4>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="피자/햄버거/치킨" value="피자/햄버거/치킨">피자/햄버거/치킨</h4>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                  <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="주점/바/펍" value="주점/바/펍">주점/바/펍</h4>
                </div>
            </div>
            <br><br>
                <div style="text-align: center;">
                     <a class="features-btn" href="/appfordog/#features/"> 리셋하시개</a>
                     <a class="features-btn" href="/appfordog/">이전으로 가시개</a>
                     <a class="features-btn" href="/appfordog/sort_r2/"> 다음으로 가시개</a>
              </div>
          </div>
        </div>

      </div>
    </section>
  <!-- End Features Section -->
</main>
{% endblock %}