{% extends 'sort_m1_base.html' %}

{% load static %}

{% block content4 %}
  <div class="multi">
      <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;" name="무료 반려견 놀이터" value="무료 반려견 놀이터">무료 반려견 놀이터</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;" name="유료 반려견 놀이터" value="유료 반려견 놀이터">유료 반려견 놀이터</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox" style="width:30px; height:30px; margin-right: 30px;"  name="반려 동반 가능 복합 시설" value="반려 동반 가능 복합 시설">반려 동반 가능 복합 시설</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="반려 동반 가능 영화관" value="반려 동반 가능 영화관">반려 동반 가능 영화관</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="반려견 동반 가능 명소" value="반려 동반 가능 명소">반려 동반 가능 명소</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="반려견 수영장" value="반려견 수영장">반려견 수영장</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="반려견 테마파크" value="반려견 테마파크">반려견 테마파크</h4>
      </div>
  </div>
{% endblock %}