{% extends 'sort_m1_base.html' %}

{% load static %}

{% block content4 %}
  <div class="multi">
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="17" ><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;" name="result_m1" value="실내">실내만</h4>
      </div>
      <div class="icon-box mt-5"data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="18" ><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="실외">실내/실외</h4>
      </div>
  </div>
{% endblock %}