{% extends 'sort_m1_base.html' %}

{% load static %}

{% block content4 %}
    <div class="multi">
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="28" ><input type="checkbox"   style="width:30px; height:30px; margin-right: 60px;" name="result_m1" value="한식">한식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="24" ><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="일식/돈가스">일식/돈가스</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="26" ><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="중식">중식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="22" ><input type="checkbox"   style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="양식">양식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="19" ><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="남미음식">남미 음식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="20" ><input type="checkbox"   style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="동남아음식">동남아 음식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="21" ><input type="checkbox"   style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="샐러드/샌드위치">샐러드/샌드위치</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="23" ><input type="checkbox"   style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="인도/중동음식">인도/중동 음식</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="27" ><input type="checkbox"   style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="피자/햄버거/치킨">피자/햄버거/치킨</h4>
        </div>
        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
          <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="25" ><input type="checkbox"   style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="주점/바/펍">주점/바/펍</h4>
        </div>
    </div>

{% endblock %}