{% extends 'sort_m1_base.html' %}

{% load static %}

{% block content4 %}
  <div class="multi">
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="1" ><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;" name="result_m1" value="글램핑">애견 동반 가능 글램핑</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="2" ><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="애견 펜션">애견 펜션</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="4" ><input type="checkbox" style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="펜션">애견 동반 가능 펜션</h4>
      </div>
      <div class="icon-box mt-5 " data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="3" ><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="캠핑장">애견 동반 가능 캠핑장</h4>
      </div>
      <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
        <h4 style="color: #000000"><input type="checkbox"  style="display:none;" name="type_id" value="5" ><input type="checkbox"  style="width:30px; height:30px; margin-right: 60px;"  name="result_m1" value="호텔">애견 동반 가능 호텔</h4>
      </div>
  </div>
{% endblock %}