{% extends 'sort_m2_base.html' %}

{% load static %}

{% block content5 %}
  <div class="col-lg-4 col-md-6 portfolio-item filter-web">
    <div class="portfolio-info">
        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="width: 1290px;">
            <ul id="portfolio-filters">
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="중구" data-id="19">중구</li>
              <li><input type="checkbox" style="width: 25px; height: 23px; margin: 12px;" name="result_m2" value="종로구" data-id="35">종로구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="용산구" data-id="18">용산구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="성동구" data-id="28">성동구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="광진구" data-id="16">광진구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="동대문구" data-id="64">동대문구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="중랑구" data-id="31">중랑구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="성북구" data-id="29">성북구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="노원구" data-id="33">노원구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="은평구" data-id="48">은평구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="서대문구" data-id="22">서대문구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="마포구" data-id="17">마포구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="양천구" data-id="45">양천구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="강서구" data-id="42">강서구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="구로구" data-id="32">구로구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="금천구" data-id="54">금천구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="영등포구" data-id="34">영등포구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="동작구" data-id="44">동작구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="관악구" data-id="43">관악구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="서초구" data-id="27">서초구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="강남구" data-id="15">강남구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="송파구" data-id="30">송파구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="강동구" data-id="26">강동구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="강북구" data-id="41">강북구</li>
              <li><input type="checkbox" style="width: 23px; height: 23px; margin: 12px;" name="result_m2" value="도봉구" data-id="63">도봉구</li>
            </ul>
        </div>
    </div>
  </div>
{% endblock %}